__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.git
.gitignore
dockerfile
Dockerfile
docker-compose.yml
*.log
*.pot
*.pyc
*.mo
*.swp
*~
.idea/
.vscode/
*.egg-info/
build/
dist/
media/
staticfiles/
